<ion-view view-title="Dados Biomédicos">
  <ion-nav-buttons side="secondary">
    <a class="button button-clear button-positive" href="#/app/biomedic/registry">
      <i class="icon ion-ios-plus-outline"></i>
      <!--Novo Dado Biomédico-->
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="row responsive-lg">
      <div class="col col-50">
        <div class="card">
          <div class="item item-body">
            <fusioncharts width="100%"
                          id="lineHemoglobin"
                          type="msline"
                          chart="{{chartHemoglobin.attrs}}" categories="{{chartHemoglobin.categories}}"
                          dataset="{{chartHemoglobin.dataset}}">
            </fusioncharts>
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="card">
          <div class="item item-body">
            <fusioncharts width="100%"
                          id="lineBloodPressure"
                          type="msline"
                          chart="{{chartBloodPressure.attrs}}" categories="{{chartBloodPressure.categories}}"
                          dataset="{{chartBloodPressure.dataset}}">
            </fusioncharts>
          </div>
        </div>
      </div>
    </div>
    <div class="row responsive-lg">
      <div class="col col-50">
        <div class="card">
          <div class="item item-body">
            <fusioncharts width="100%"
                 id="lineCholesterol"
                 type="msline"
                 chart="{{chartCholesterol.attrs}}" categories="{{chartCholesterol.categories}}"
                 dataset="{{chartCholesterol.dataset}}">
            </fusioncharts>
          </div>
        </div>
      </div>
      <div class="col col-50">
        <div class="card">
          <div class="item item-body">
            <fusioncharts width="100%"
                          id="lineWeight"
                          type="msline"
                          chart="{{chartWeight.attrs}}" categories="{{chartWeight.categories}}"
                          dataset="{{chartWeight.dataset}}">
            </fusioncharts>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
