<ion-view view-title="Novo Registo Biomédico">
  <ion-content>
    <div class="row responsive-sm">
      <form name="form" novalidate class="col-offset-25 col col-50" ng-submit="saveUser(form)">
        <div class="list">
          <div class="button-bar">
            <a class="button button-light" ng-class="{'button-positive': isActive('hemoglobin')}"
               ng-click="setActive('hemoglobin')">Hemoglobina
              Glicada</a>
            <a class="button button-light" ng-class="{'button-positive': isActive('blood-pressure')}"
               ng-click="setActive('blood-pressure')">Tensão arterial</a>
            <a class="button button-light" ng-class="{'button-positive': isActive('cholesterol')}"
               ng-click="setActive('cholesterol')">Colesterol
              LDL</a>
          </div>
          <div ng-if="isActive('hemoglobin')">
            <div ng-include="'templates/biomedic-hemoglobin-tpl.html'"></div>
          </div>
          <div ng-if="isActive('blood-pressure')">
            <div ng-include="'templates/biomedic-blood-pressure-tpl.html'"></div>
          </div>
          <div ng-if="isActive('cholesterol')">
            <div ng-include="'templates/biomedic-cholesterol-tpl.html'"></div>
          </div>
        </div>
      </form>

    </div>
  </ion-content>
</ion-view>
