<ion-view view-title="Novo Registo Biomédico" class="">
  <ion-content>
    <div ng-if="offline" class="assertive">
      <div class="card text-center">
        <i style="font-size: 30px" class=" icon ion-android-warning"></i>
        <br/>
        <br/>
        <p style="font-size: 30px">
          Sem ligação à rede.
        </p>
        <br/>
        <p style="padding-left: 20px" class="text-left">
          Por favor conecte-se a uma rede Wi-Fi ou ligue os seus dados móveis para poder registar um novo dado biomédico.
        </p>
      </div>
    </div>
    <div ng-if="!offline" class="row responsive-sm">
      <form name="form" novalidate class="col-offset-25 col col-50" ng-submit="saveBiomedic(form)">
        <div class="list">
          <div class="list">
            <div class="item item-divider item-positive">
              Tipo do Registo
            </div>
            <div class="item">
              <a class="button button-light button-block" ng-class="{'button-positive': isActive('cardiacfrequency')}"
                 ng-click="setType('cardiacfrequency')">
                Frequência Cardíaca</a>
              <a class="button button-light button-block"
                 ng-class="{'button-positive': isActive('min-blood-pressure')}"
                 ng-click="setType('min-blood-pressure')">Tensão arterial Mínima</a>
              <a class="button button-light button-block"
                 ng-class="{'button-positive': isActive('max-blood-pressure')}"
                 ng-click="setType('max-blood-pressure')">Tensão arterial Máxima</a>
              <a class="button button-light button-block" ng-class="{'button-positive': isActive('cholesterol')}"
                 ng-click="setType('cholesterol')">Colesterol
                HDL</a>
              <a class="button button-light button-block" ng-class="{'button-positive': isActive('weight')}"
                 ng-click="setType('weight')">Peso</a>
              <a class="button button-light button-block" ng-class="{'button-positive': isActive('abdominal_girth')}"
                 ng-click="setType('abdominal_girth')">Perímetro Abdominal</a>
            </div>

            <div class="item item-divider item-positive">
              Dados
            </div>
            <div class="item">
              <div ng-if="isActive('cardiacfrequency')">
                <div ng-include="'templates/biomedic-cardiacfrequency-tpl.html'"></div>
              </div>
              <div ng-if="isActive('min-blood-pressure')">
                <div ng-include="'templates/biomedic-min-blood-pressure-tpl.html'"></div>
              </div>
              <div ng-if="isActive('max-blood-pressure')">
                <div ng-include="'templates/biomedic-max-blood-pressure-tpl.html'"></div>
              </div>
              <div ng-if="isActive('cholesterol')">
                <div ng-include="'templates/biomedic-cholesterol-tpl.html'"></div>
              </div>
              <div ng-if="isActive('weight')">
                <div ng-include="'templates/biomedic-weight-tpl.html'"></div>
              </div>
              <div ng-if="isActive('abdominal_girth')">
                <div ng-include="'templates/biomedic-abdominal-girth-tpl.html'"></div>
              </div>
            </div>
          </div>
        </div>
      </form>

    </div>
  </ion-content>
</ion-view>
