<div class="col">
  <label class="item item-input">
    <span class="positive input-label">Hemoglobina (mg/dl)</span>
    <span style="color: #c8c8c8"></span>
    <input required ng-model="biomedic.value" name="value" type="number" min="0">
  </label>
</div>
<div ng-messages="form.value.$error" ng-if="form.$invalid && form.$submitted" role="alert">
  <div class="row assertive" ng-message="required">O valor da Hemoglobina é obrigatório.</div>
  <div class="row assertive" ng-message="min">O valor introduzido deve ser superior a 0.</div>
</div>
<div class="col">
  <label class="item item-input">
    <span class="positive input-label">Data</span>
    <span style="color: #c8c8c8"></span>
    <input ng-model="biomedic.biomedicDate" name="biomedicDate" type="date" max="{{maxDate | date:'yyyy-MM-dd'}}">
</div>
<div ng-messages="form.biomedicDate.$error" ng-if="form.$invalid && form.$submitted"  role="alert">
  <div class="row assertive" ng-message="required">A data associada ao valor da Hemoglobina é obrigatória.</div>
  <div class="row assertive" ng-message="max">A data associada ao valor da Hemoglobina não deve ser superior ao dia atual.</div>
</div>
<div class="row">
  <div class="col">
    <label class="">
      <button class="col button button-block button-positive" type="submit">Registar Hemoglobina
      </button>
    </label>
  </div>
</div>
