<ion-view view-title="Hemoglobina">
  <ion-nav-buttons side="secondary">
    <a class="button button-clear button-positive" href="/#/app/biomedic/registry">
      <i class="icon ion-ios-plus-outline"></i>
      Registar Hemoglobina
    </a>
  </ion-nav-buttons>
  <ion-content>
    <div class="row responsive-sm">
      <div class="col col-50 col-offset-25">
        <chart value="chartHemoglobin"></chart>
        <chart value="chartBloodPressure"></chart>
        <chart value="chartCholesterol"></chart>
        <ng-include></ng-include>
      </div>
    </div>
  </ion-content>
</ion-view>
