<ion-view title="<i class='icon ion-ios-location positive'></i>">
  <ion-nav-buttons side="secondary">
    <a  ng-if="!offline" class="button button-clear button-positive" href="#/app/event/new">
      <i class="icon ion-ios-plus-outline"></i>
      <!--Novo Evento-->
    </a>
  </ion-nav-buttons>
  <ion-content class="stable-bg">
    <div ng-if="offline" class="assertive">
      <div class="card text-center">
        <i style="font-size: 30px" class=" icon ion-android-warning"></i>
        <br/>
        <br/>
        <p style="font-size: 30px">
          Sem ligação à rede.
        </p>
        <br/>
        <p style="padding-left: 20px" class="text-left">
          Por favor conecte-se a uma rede Wi-Fi ou ligue os seus dados móveis para poder gerir os seus eventos.
        </p>
      </div>
    </div>
    <ion-list ng-if="!offline" class="list">
      <ion-item ng-class="{'item-stable': event.outdated, 'new-item-border': !event.seen}"
                class="item item-icon-right positive" href="#/app/event/{{event.id}}"
                ng-repeat="event in filteredEvents track by $index">
        <div class="row">
          <div class="col">
            <h2 class="positive"><i class="balanced ion-ios-checkmark" ng-if="event.participate"></i> {{event.name}}
            </h2>
          </div>
          <div class="col">
            <p class="">{{getFormattedDate(event.date)}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="">{{event.location}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <span>Por {{event.owner.firstName}} {{event.owner.lastName}}</span>
          </div>
          <div class="col">
            <p class="">{{1 + event.friendsNumber}} Participante(s)</p>
          </div>
        </div>
        <i class="icon ion-chevron-right"></i>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-tabs class="tabs-light">
    <ion-tab title="Em vigor" ng-click="filterEvents('new')"></ion-tab>
    <ion-tab title="Por ver" ng-click="filterEvents('unseen')"></ion-tab>
    <ion-tab title="Participados" ng-click="filterEvents('participated')"></ion-tab>
    <ion-tab title="Todos" ng-click="filterEvents('all')"></ion-tab>

  </ion-tabs>
</ion-view>
