<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar class="bar-light nav-title-slide-ios7">
      <ion-nav-back-button></ion-nav-back-button>

      <ion-nav-buttons side="buttons left-buttons">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
          <i ng-if="newNotificationsNumber > 0" class="badge badge-assertive">{{newNotificationsNumber}}</i>
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-content>
      <ion-list>
        <ion-item menu-close href="#/app/main" class="positive"><i class="ion ion-ios-stopwatch"></i> Cronómetro</ion-item>
        <ion-item menu-close href="#/app/biomedic" class="positive"><i class="ion ion-heart positive"></i> Dados Biomédicos</ion-item>
        <ion-item menu-close href="#/app/physical-activity" class="positive"><i class="ion ion-ios-pulse positive"></i> Atividade Física</ion-item>
        <ion-item menu-close href="#/app/event" class="positive"><i class="ion ion-ios-location positive"></i> Eventos</ion-item>
        <ion-item menu-close href="#/app/message" class="positive"><i class="ion ion-email"></i> Notificações<i ng-if="newNotificationsNumber > 0" class="badge badge-assertive">{{newNotificationsNumber}}</i></ion-item>
        <ion-item menu-close href="#/app/profile" class="positive"><i class="ion-ios-person"></i> Perfil</ion-item>
        <ion-item menu-close href="#/app/about" class="positive"><i class="ion-information-circled"></i> Suporte</ion-item>
        <ion-item menu-close class="ion ion-log-out positive" ng-click="logout()"></ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
