<ion-view title="<i class='icon ion-ios-pulse positive'></i>">
  <ion-content id="pnlContentMain" class="stable-bg">
    <div class="item item-text-wrap balanced">
      <div class="row responsive-lg">
        <div class="col">
          <div fusioncharts width="100%" height="200"
               type="mscolumn2d"
               chart="{{attrs}}"
               trendlines="{{trendlines}}"
               categories="{{categories}}"
               dataset="{{dataset}}">
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
