<ion-view title="<i class='icon ion-ios-person positive'></i>">
  <ion-content id="pnlContent" class="stable-bg">
    <div ng-if="offline" class="assertive">
      <div class="card text-center">
        <i style="font-size: 30px" class=" icon ion-android-warning"></i>
        <br/>
        <br/>
        <p style="font-size: 30px">
          Sem ligação à rede.
        </p>
        <br/>
        <p style="padding-left: 20px" class="text-left">
          Por favor conecte-se a uma rede Wi-Fi ou ligue os seus dados móveis para poder editar os seus dados pessoais.
        </p>
      </div>
    </div>
    <div ng-if="!offline" class="row responsive-sm">
      <form name="form" novalidate class="col-offset-25 col col-50" ng-submit="saveUser(form)">
        <div class="list">
          <div class="col">
            <div class="row">
              <img id="profileImageImg" class="avatar" ng-src="{{user.profileImage.value}}" src="img/ionic.png"
                   style="-webkit-user-select: none;width:200px; height:200px;margin: auto;">
            </div>
            <br/>
            <input type="file" ng-model="user.profileImage"
                   onchange="angular.element(this).scope().saveimage(this.files)" accept="image/*"
                   class="row"
                   id="profileImage">
          </div>
          <div class="col">
            <label class="item item-input">
              <span class="positive input-label">Primeiro Nome</span>
              <span style="color: #c8c8c8"></span>
                {{user.firstName}}
              </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <span class="positive input-label">Apelido</span>
              <span style="color: #c8c8c8"></span>
              <label>
                {{user.lastName}}
              </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <span class="positive input-label">Email</span>
              <span style="color: #c8c8c8"></span>
              <label>
                {{user.email}}
              </label>
          </div>
          <div class="col">
            <label class="item item-input">
              <span class="positive input-label">Morada</span>
              <span style="color: #c8c8c8"></span>
              <label>
                {{user.address}}
              </label>
          </div>
          <div class="col">
            <li class="item item-toggle positive">
              Repor password
              <label class="toggle toggle-positive">
                <input type="checkbox" name="resetPassword" ng-model="user.resetPassword">
                <div class="track">
                  <div class="handle"></div>
                </div>
              </label>
            </li>
          </div>
          <div class="col" ng-if="user.resetPassword">
            <label class="item item-input">
              <span class="positive input-label">Palavra-Passe Atual</span>
              <span style="color: #c8c8c8"></span>
              <label ng-model="user.oldPassword">
                <input
                  type="password"
                  required
                  ng-model="user.oldPassword" name="oldPassword"
                  placeholder="Palavra-Passe Atual">
              </label>
          </div>
          <div class="col" ng-if="user.resetPassword">
            <label class="item item-input">
              <span class="positive input-label">Nova Palavra-Passe</span>
              <span style="color: #c8c8c8"></span>
              <label ng-model="user.oldPassword">
                <input
                  type="password"
                  required
                  ng-model="user.newPassword" name="newPassword"
                  placeholder="Nova Palavra-Passe">
              </label>
          </div>
          <div id="errorMessages2" ng-messages="form['password'].$error" multiple class="row assertive">
            <p class="col" ng-if="form.$submitted || !form['password'].$pristine" ng-message="required">
              A definição de uma palavra-passe para o utente é obrigatória
            </p>
          </div>


          <!--<div class="row">-->
          <!--<label class="item item-input">-->
          <!--<span class="positive input-label">{{value.required ? '*' : ''}} {{value.placeHolder}}</span>-->
          <!--<span style="color: #c8c8c8"></span>-->
          <!--<label ng-model="value.value">-->
          <!--<input-->
          <!--ng-if="value.type !== 'label'"-->
          <!--type="{{value.type}}"-->
          <!--required-->
          <!--pattern-->
          <!--minlength-->
          <!--maxlength-->
          <!--dyn-attr="value"-->
          <!--ng-model="value.value" name="{{key}}"-->
          <!--placeholder="{{value.placeHolder}}">-->
          <!--</label>-->

          <!--<div id="errorMessages1"-->
          <!--class="assertive"-->
          <!--ng-if="value.type !== 'password'" ng-messages="form[key].$error" multiple>-->
          <!--<p class="row" ng-if="form.$submitted || !form[key].$pristine"-->
          <!--ng-repeat="(messageKey, messageValue) in value.errorMessages"-->
          <!--ng-message="{{messageKey}}">-->
          <!--{{messageValue}}</p>-->
          <!--</div>-->
          <!--</div>-->
          <!--<div id="errorMessages2" ng-if="value.type === 'password'" ng-messages="form[key].$error" multiple-->
          <!--class="row assertive">-->
          <!--<p class="col" ng-if="form.$submitted || !form[key].$pristine"-->
          <!--ng-repeat="(messageKey, messageValue) in value.errorMessages"-->
          <!--ng-message="{{messageKey}}">-->
          <!--{{messageValue}}</p>-->
          <!--</div>-->
        </div>
        <div id="invalidMessages">
          <p class="row assertive" ng-repeat="invalidMessage in invalidMessages">{{invalidMessage}}</p>
        </div>
        <div id="validMessages">
          <p class="row balanced" ng-repeat="validMessage in validMessages">{{validMessage}}</p>
        </div>
        <div class="row">
          <div class="col">
            <label class="">
              <button class="col button button-block button-positive" type="submit">Atualizar Dados Pessoais
              </button>
            </label>
          </div>
        </div>
    </div>
    </form>

    </div>
  </ion-content>
</ion-view>
