<ion-view view-title="{{isNewUser ? 'Novo' : 'Editar'}} Utilizador">
  <ion-content id="pnlContent">

    <div class="row responsive-sm">
      <div class="col col-offset-20 col-10">
        <span ng-repeat="option in options">
          <button ng-if="option !== currentOption" ng-click="option.callback()" class="button button-block button-positive">
            {{option.description}}
          </button>
          <span ng-if="option === currentOption" class="button button-block button-light" style="cursor: default" >
            {{option.description}}
          </span>
        </span>

      </div>
      <div class="col col-50">
        <ng-include src="currentOption.templateUrl"></ng-include>
      </div>
    </div>
  </ion-content>
</ion-view>
